body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 28px;
  padding-top: 15%;
}

h2 {
  font-size: 21px;
  padding-top: 8%;
}

h4 {
  font-size: small;
  font-weight: 300;
  padding-bottom: 6%;
}

.period {
  color: hsl(223, 87%, 63%);
}

.h2-gray-colored {
  color: hsl(0, 0%, 59%);
  font-weight: lighter;
}

.email-address-input {
  width: 280px;
  height: 25px;
  border: solid;
  border-radius: 25px;
  border-width: 1px;
  border-color: hsl(223, 100%, 88%);
  padding: 10px;
}

.email-error {
  border-color: hsl(354, 100%, 66%);
}

.email-success {
  border-color: hsl(143, 90%, 46%);
  font-size: 11px;
  color: hsl(143, 90%, 46%);
  margin-top: 3%;
}

.email-address-input::placeholder {
  color: hsl(223, 100%, 88%);
}

.email-address-input:focus {
  outline: none;
  border-color: hsl(223, 87%, 63%);
}

.email-alert {
  font-size: 11px;
  color: hsl(354, 100%, 66%);
  margin-top: 3%;
}

.notif-button {
  width: 305px;
  height: 45px;
  color: white;
  background: hsl(223, 87%, 63%);
  border: none;
  border-radius: 25px;
  margin: 12px;
  cursor: pointer;
}

.notif-button:hover {
  background-color: hsl(223, 100%, 88%);
}

.social {
  padding-top: 12%;
  padding-bottom: 8%;
}

.fab {
  margin: 1%;
  padding: 2%;
  color: hsl(223, 87%, 63%);
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: hsl(223, 100%, 88%);
}

.fab:hover {
  background-color: hsl(223, 87%, 63%);
  color: white;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 375px) {
  .illustration-dashboard {
    width: 330px;
    padding-top: 6%;
    padding-bottom: 4%;
  }
}

@media screen and (min-width: 441px) {
  .social {
    padding-top: 3%;
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 535px) {
  h1 {
    font-size: 32px;
    padding-top: 13%;
  }

  h2 {
    font-size: 23px;
    padding-top: 6%;
  }

  h4 {
    font-size: medium;
    font-weight: 300;
    padding-bottom: 4%;
  }

  .email-address-input {
    width: 290px;
    height: 25px;
  }

  .notif-button {
    width: 315px;
    height: 45px;
  }

  .illustration-dashboard {
    width: 340px;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .social {
    padding-top: 2%;
    padding-bottom: 4%;
  }
}

@media screen and (min-width: 627px) {

  h1 {
    font-size: 30px;
    padding-top: 12%;
  }

  h2 {
    font-size: 21px;
    padding-top: 5%;
  }

  h4 {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 3%;
  }

  .illustration-dashboard {
    width: 340px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .social {
    padding-top: 1%;
    padding-bottom: 3%;
  }
}

@media screen and (min-width: 656px) {

  .illustration-dashboard {
    width: 340px;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .social {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (min-width: 1039px) {

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 25px;
  }

  h4 {
    font-size: 15px;
  }

  .notif-button {
    width: 312px;
  }

  .illustration-dashboard {
    width: 550px;
    padding-top: 3%;
  }

  .social {
    padding-top: 2%;
    padding-bottom: 7%;
  }

  .fab {
    font-size: 12px;
  }

}